<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/styles/index.css" />



<body>
        <div class="flex-container">
                
        
            <div id="title">
                <h1>Adopt-A-Pet</h1>
                <h3>Find your fur ever friend!</h3>
            </div>
            <div class="cats">
                <div>
                <figure>
                <a href="/cats">
                    <img src="https://i.postimg.cc/V6GwXTvv/catIcon.jpg" alt="kitty" width="175">
                </a>
                <figcaption>
                <p>
                <h3>
                Cats
                </h3>
                </p>
                </figcaption>
                </figure>
                </div>
            </div>

            <div class="dogs">
                <div>
                <figure>
            <a href="/dogs">
                <img src="https://i.postimg.cc/qqNTwL6L/dogIcon.jpg" alt="doggy" width="175">
            </a>
            <figcaption>
            <p>
            <h3>
                Dogs
            </h3>
            </p>
            </figcaption>
            </figure>
            </div>
                
        </div>
              

</body>

</html>