#title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
}

a {
    margin-left: 4em;
    color: cadetblue;
    text-decoration: underline overline #ddb370;
    transition: background-color 2s ease-out 100ms
}

a:hover {
    text-decoration: none;
    background-color: #ddb370;
    color:white;
}


mark {
    background-color:#ddb370;
    color: white;
   }

.flex-container {
    display: flex;
    justify-content: center;
    margin-top: 125px;
}

.cats {
    margin-right: 75px;

}

.cats a :hover {
    opacity: 0.8;

}


.dogs {
    margin-left: 75px;
}

.dogs a :hover {
    opacity: 0.8;
}

.img-with-text {
        text-align: justify;
        width: 200;
        
    }

    
.img-with-text img {
        display: block;
    }


    body {
        background-image: url("https://i.postimg.cc/mggNXXYK/paw-Layout.jpg");
      }


    .white-box {
        background-color: rgba(255, 255, 255, 0.881);
        color: black;
        margin: 100px 200px 50px 200px;
    }

    /* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-8/nat738.cur), auto !important;} /* End https://www.cursors-4u.com */