#title {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 25px;
}

mark {
    background-color:#0c0000;
    color: white;
   }

.flex-container {
    display: flex;
    justify-content: center;
    margin-top: 125px;
}

.cats {
    margin-right: 75px;

}


.dogs {
    margin-left: 75px;
}


.img-with-text {
        text-align: justify;
        width: 200;
        
    }

    
.img-with-text img {
        display: block;
    }


