body {
    background-image: url("https://i.postimg.cc/mggNXXYK/paw-Layout.jpg");
}


.white-box {
    background-color: white;
    color: black;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.db-object{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 125px;    
}

 .img-with-text {
    text-align: left; 
}
    
.img-with-text img {
    display: inline-block;
   
}

#title {
    text-align: center;
}


.db-object a :hover {
    opacity: 0.8;
}


/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-8/nat738.cur), auto !important;} /* End https://www.cursors-4u.com */