
body {
    background-image: url("https://i.postimg.cc/mggNXXYK/paw-Layout.jpg");
  }


.white-box {
    background-color: white;
    color: black;
    width: 20em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 35em; 
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.881);
    border-width: 1em;
    border-radius: 30px;
    margin-top: auto;
}



 .img-with-text {
    text-align: left;
    width: 200;
}
    
.img-with-text img {
    display: inline-block;
}



a {
    margin-left: 4em;
    color: cadetblue;
    text-decoration: underline overline #ddb370;
    transition: background-color 2s ease-out 100ms
}

a:hover {
    text-decoration: none;
    background-color: #ddb370;
    color:white;
}


/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-8/nat738.cur), auto !important;} /* End https://www.cursors-4u.com */