.db-object{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 125px;    
    }

 .img-with-text {
    text-align: left;
    width: 200;
        
    }
    
.img-with-text img {
    display: inline-block;
   
    }

#title {
    text-align: center;
}