.db-object{
    flex-direction:row;
    display:inline-flex;
    gap: 5px;
    
    }

 .img-with-text {
        text-align: justify;
        width: 200;
        
    }
    
.img-with-text img {
        display: block;
        margin: 0 auto;
    }

#title {
    text-align: center;
}